
        <i class="fa-solid fa-bars" id="menu"></i>
        
        <nav class="nav">
            <div class="lft"> <button id="btn" class="bton"><img src="/images/circularprofileimg.jpg" alt=""
                        width="35px" height="35px" style="border-radius: 50%;"> <span>
                        <%= adminName%>
                    </span> <i class="fa-solid fa-angle-down"></i> </button>

                <div id="abs">
                    <div> <a href="">Profile</a> </div>
                    <div> <a href="/logout">Logout</a> </div>
                </div>

            </div>
            <div class="rit"> <button class="bton"><i class="fa-solid fa-diagram-project"></i></button> <button
                    class="bton"> <i class="fa-regular fa-comment"></i></button> <button class="bton"> <i
                        class="fa-solid fa-globe"></i> <select name="" id="">
                        <option value="">English</option>
                    </select> </button> </div>
        </nav>