

    <div class="one">

        <div class="logo">
<img src="http://hr.politicksnow.in/storage/uploads/logo/logo-dark.png?timestamp=1712927575" height="50px" width="50px" alt="">
        </div>

        <div class="sidebar">

            <button class="btoon"> <i class="fa-solid fa-house"></i><span><a href="/dashboard">Dashboard</a> </span></button>
            <button class="btoon btnn"> <i class="fa-solid fa-users"></i><span> Staff </span> <span class="changeArrow">
                    <i class="fa-solid fa-angle-right"></i> </span> </button>

            <div id="drop" class="drop">
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> <a href="/employee">Employees</a> </div>
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> <a href="/client">Clients</a> </div>
            </div>

            <button class="btoon btnn"> <i class="fa-solid fa-hand"></i><span> Hr </span> <span class="changeArrow"> <i
                        class="fa-solid fa-angle-right"></i> </span> </button>
            <div id="drop" class="drop">
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Attendance</div>
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Holiday</div>
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Leave</div>
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Meeting</div>
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Asset</div>
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Document</div>
            </div>

            <button class="btoon btnn"> <i class="fa-solid fa-hand"></i><span> Hr </span> <span class="changeArrow"> <i
                class="fa-solid fa-angle-right"></i> </span> </button>
    <div id="drop" class="drop">
        <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                style="width:10px;height:10px">
            </lord-icon> Attendance</div>
        <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                style="width:10px;height:10px">
            </lord-icon> Holiday</div>
        <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                style="width:10px;height:10px">
            </lord-icon> Leave</div>
        <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                style="width:10px;height:10px">
            </lord-icon> Meeting</div>
        <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                style="width:10px;height:10px">
            </lord-icon> Asset</div>
        <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                style="width:10px;height:10px">
            </lord-icon> Document</div>
    </div>

            <button class="btoon btnn"> <i class="fa-solid fa-dollar-sign"></i><span> PreSale </span> <span
                    class="changeArrow"> <i class="fa-solid fa-angle-right"></i> </span> </button>
            <div id="drop" class="drop">
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Employees</div>
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Clients</div>
            </div>
            <button class="btoon btnn"> <i class="fa-solid fa-dollar-sign"></i><span> PreSale </span> <span
                    class="changeArrow"> <i class="fa-solid fa-angle-right"></i> </span> </button>
            <div id="drop" class="drop">
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Employees</div>
                <div class="sm"> <lord-icon src="https://cdn.lordicon.com/jeycryzx.json" trigger="hover"
                        style="width:10px;height:10px">
                    </lord-icon> Clients</div>
            </div>

        </div>

    </div>