<title>Dashboard</title>
<link rel="stylesheet" href="/css/dashboard.css">
<script src="/js/dashboard.js" defer></script>



<div class="main">

    <%- include('_sidebarPartial')%>


    <div class="two">


        <%- include('_navbarPartial')%>
        <h4 style="margin: 30px 10px; padding: 2px 5px;"> Dashboard </h4>

        <div class="div1 flx">

            <div class="flxe">
                <div>
                    <div class="back"><i class="fa-solid fa-star"></i></div>
                </div>
                <div>
                    <div> Total </div> <strong>Clients</strong>
                </div>
                <div> 0 </div>
            </div>
            <div class="flxe">
                <div>
                    <div class="back2"><i class="fa-solid fa-user-group"></i></div>
                </div>
                <div>
                    <div> Total </div> <strong>Employees</strong>
                </div>
                <div> 0 </div>
            </div>
            <div class="flxe">
                <div>
                    <div class="back3"><i class="fa-solid fa-list-check"></i></div>
                </div>
                <div>
                    <div> Total </div> <strong>Projects</strong>
                </div>
                <div> 0 </div>
            </div>
            <div class="flxe">
                <div>
                    <div class="back4"><i class="fa-solid fa-table-cells-large"></i></div>
                </div>
                <div>
                    <div> Total </div> <strong>Estimation</strong>
                </div>
                <div> 0 </div>
            </div>
            <div class="flxe">
                <div>
                    <div class="back5"><i class="fa-solid fa-receipt"></i></div>
                </div>
                <div>
                    <div> Total </div> <strong>Invoice</strong>
                </div>
                <div> 0 </div>
            </div>
            <div class="flxe">
                <div>
                    <div class="back6"><i class="fa-solid fa-file-invoice-dollar"></i></div>
                </div>
                <div>
                    <div> Total </div> <strong>Lead</strong>
                </div>
                <div> 0 </div>
            </div>

        </div>

        <div class="div2 flx">

            <div class="cr">

                <div class="top">
                    Estimation Overview
                </div>

                <div class="progress" style="height: 5px;margin: 5px 0px;"></div>

                <div class="items">
                    <div><span>●</span> 0 Draft <span class="gry">(0.00%)</span></div>
                    <div><span class="b">●</span> 0 Open <span class="gry">(0.00%)</span></div>
                    <div><span class="g">●</span> 0 Sent <span class="gry">(0.00%)</span></div>
                    <div><span class="r">●</span> 0 Close <span class="gry">(0.00%)</span></div>
                </div>

            </div>
            <div class="cr">

                <div class="top">
                    Invoice Overview
                </div>

                <div class="progress" style="height: 5px;margin: 5px 0px;"></div>

                <div class="items">
                    <div><span>●</span> 0 Draft <span class="gry">(0.00%)</span></div>
                    <div><span class="b">●</span> 0 Open <span class="gry">(0.00%)</span></div>
                    <div><span class="g">●</span> 0 Sent <span class="gry">(0.00%)</span></div>
                    <div><span class="r">●</span> 0 Unpaid <span class="gry">(0.00%)</span></div>
                    <div><span class="o">●</span> 0 Paid <span class="gry">(0.00%)</span></div>
                    <div><span class="gry">●</span> 0 Partialy Paid <span class="gry">(0.00%)</span></div>
                </div>

            </div>
            <div class="cr">

                <div class="top">
                    Project Overview
                </div>

                <div class="progress" style="height: 5px; margin: 5px 0px;"></div>

                <div class="items">
                    <div><span class="b">●</span> 0 Not Started <span class="gry">(0.00%)</span></div>
                    <div><span class="g">●</span> 0 In Progress <span class="gry">(0.00%)</span></div>
                    <div><span class="r">●</span> 0 On Hold <span class="gry">(0.00%)</span></div>
                    <div><span class="o">●</span> 0 Canceled <span class="gry">(0.00%)</span></div>
                    <div><span class="gry">●</span> 0 Finished <span class="gry">(0.00%)</span></div>
                </div>

            </div>

        </div>


        <div class="div3 flx">

            <div class="card">
                <div class="card-header">
                    <span class="spn"></span>
                    Top Due Payment
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Payment record not found.</p>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span class="spn"></span>
                    Top Due Project
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Project record not found.</p>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span class="spn"></span>
                    Top due task
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Task record not found.</p>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span class="spn"></span>
                    Meeting schedule
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Meeting schedule record not found.</p>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span class="spn"></span>
                    This week event
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Event not found.</p>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span class="spn"></span>
                    New support
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>New support record not found.</p>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span class="spn"></span>
                    Contract expiring soon
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Payment record not found.</p>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span class="spn"></span>
                    New Client
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Client Detail</p>
                    </blockquote>
                </div>
            </div>

        </div>

        <div class="card cd">
            <div class="card-header">
                <span class="spn"></span>
                Goals
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p></p>
                </blockquote>
            </div>
        </div>
    </div>
</div>