<title>Employee</title>
<link rel="stylesheet" href="/css/dashboard.css">
<script src="/js/dashboard.js" defer></script>
<div class="main">

    <%- include('_sidebarPartial')%>

        <div class="two">


            <%- include('_navbarPartial')%>
                <h4 style="margin: 30px 10px; padding: 2px 5px;" class="h"> <span>Employee</span> <i
                        class="fa-solid fa-user-plus" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> </h4>

                <div class="flx">

                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Client</h4>
                            <p class="card-text">click here to add new client</p>
                        </div>
                    </div>
                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Client</h4>
                            <p class="card-text">click here to add new client</p>
                        </div>
                    </div>
                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Client</h4>
                            <p class="card-text">click here to add new client</p>
                        </div>
                    </div>
                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Client</h4>
                            <p class="card-text">click here to add new client</p>
                        </div>
                    </div>
                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Client</h4>
                            <p class="card-text">click here to add new client</p>
                        </div>
                    </div>
                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Client</h4>
                            <p class="card-text">click here to add new client</p>
                        </div>
                    </div>
                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Client</h4>
                            <p class="card-text">click here to add new client</p>
                        </div>
                    </div>
                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Client</h4>
                            <p class="card-text">click here to add new client</p>
                        </div>
                    </div>
                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Client</h4>
                            <p class="card-text">click here to add new client</p>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Create New Client</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ...
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>

                </div>

        </div>

</div>